
* {
	margin: 0 0;
	padding: 0 0;
	box-sizing:	border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
	background:#04005E; display: flex; align-items: flex-end; justify-content: center; min-height: 100vh;
	;
}

.PageContent {
	display: block;
	width: 60vw;
	top: 10vh;

	position: absolute;
	text-align: center;
	color: red;
	border: rgb(128, 0, 0) solid 2px;
	max-width: 1000px;
}
.PageContent h1 {
	text-align: center;
	/* align-items: center;  */
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
}
.PageContent img {
	width: 100%;
	/* width: 60vw; */
	padding-top: 2vh;
	/* min-height: 200px; */
	margin: 0 auto;
	max-width: 600px;
	border: green solid 2px;
}
/* E92EFB  FF2079  440BD4  04005E   */
nav {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background:#9c05b4;
	/* background:hsl(0, 100%, 50%) */
	width: 100vw;

}
ul {
	/* background:#022f95; */
	border-radius: 5px;
	position: relative;
 	box-shadow: 0 5px 20px black; 
	display: flex;
	z-index: 3;
}

li {
	/* background-color: rgb(255, 255, 255,0.8); */
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	z-index: 1000;
	/* padding: 30px 30px; */
	height: 6vh;
	width: 20vw;
	/* height: 5vw; */
	/* border: red solid 1px; */
	border-left: rgba(255, 255, 255, 0.2) solid 2px;
}
/* img {width: 33px; height: 33px; border-radius: 50%;}  */
.ion-icon {
	/* width: 33px; height: 33px; color: white solid 3px;; z-index: 5; */
	/* vertical-align:middle; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: red solid 2px; */
	
}
.ion-icon img{
	width: 30px;
	/* max-width: 125%; */
}
ul li.ion-icon:nth-last-child(n+3) img {
	/* filter: invert(100%); */
	filter: invert(14%) sepia(51%) saturate(3196%) hue-rotate(234deg) brightness(88%) contrast(135%);
}

ul li.ion-icon:nth-child(n+5) img {
	border-radius: 50%;
}
 
.bgLighter {
	width:20vw;
	height: 6vh;
	background:rgba(255, 62, 216, 1);
	/* background:rgb(108, 11, 89); */
	/* #FF2079; */
	position: absolute;
	/* position: relative; */
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	opacity: 0.7; z-index: 1; top: -1px;
	box-shadow: 0 0 30px #4f0b83, 0 0  30px #E92EFB ;
	/* left:20px; */
	transition: 0.3s;
}

.li.i.active  ~ .bgLighter {left:  0%;}
.li.ii.active ~ .bgLighter {left:   20%;}
.li.iii.active  ~ .bgLighter {left:  40%;}
.li.iiii.active ~ .bgLighter {left:  60%;}
.li.iiiii.active ~ .bgLighter {left:  80%;}
